*{
    margin: 0;
    box-sizing: border-box;
    font-family: Times New Roman;
    font-size: 25px;
}
.name a{
	text-decoration: none;
    color: yellow;
}
.clear{
	clear:both;
}

#membership{
	    margin-top: 30px;
    padding: 5px;
    margin-bottom: 55px;
}
img{
	width:100%;
}
.colImg{
	width:170px; 
}
.sort-buy{
	 border: 1px solid #000;
    margin-top: 15px;
}
.container{
    border: 2px solid #ccc;
    padding-top: 15px;
    margin-top: 15px;
    margin: 10%;
}

.name{
    color: #fff;
    text-align: center;
    padding-bottom: 30px;
    font-size: 25px;
    background-color: #227487;
}

.inforNV{
    margin: 30px 0;
    border: 1px solid #000;
}
.inforNV h3{
    padding: 15px;
    border-bottom: 1px solid #ccc;
}
.inforNV-1-2,.inforNV-2-2{
    padding-bottom: 15px;
    width: 40%;
}
.inforNV-1-2 input,.inforNV-2-2 input{
    width: 100%;
    padding: 10px;

}

.inforNV-1-2 {
    float: right;
}

/* btn*/

.btn-option{
    float: right;
    border: 1px solid #000;
    box-shadow: 4px 4px 4px #ccc;
    margin-top: -15px;
    padding: 5px;

}
.btn-option button{
        padding: 25px;
    font-size: 20px;
    cursor: pointer;
}
.infor-general{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    border: 1px solid;
    height: 50px;
}

.table th{
    font-size: 20px;
    color: #fff;
    background-color: #227487;
    opacity: 0.8;
}

tbody td{
	border: 1px solid #ccc;
	
}
table tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.update-btn{
	    background-color: yellow;
    border-radius: 8px;
    color: #000;
    cursor: pointer;
}
.update-btn:hover{
	background-color: greenyellow;
	color: #000;
}
.remove-btn{
	    background-color: red;
     opacity: 0.8; 
    border-radius: 8px;
    color: #000;
    cursor: pointer;
}
.remove-btn:hover{
	background-color: #000;
	color: #fff;
}
.add-btn button{
    transform-style: flat;
    padding: 10px;
    border-radius: 9px;
    background-color: #227487;
    color: #fff;
    cursor: pointer;
}

.add-btn button:hover{
	background-color: yellow;
	color: red;
}

/* UpDATE CSS*/

#main2{
	    width: 50%;
    border: 1px solid #ccc;
    margin-left: 25%;
     margin-top: 5%;
}
#main2 h3{
	    font-size: 1.75rem;
    text-align: center;
    background-color: #227487;
    padding: 8px;
    color :#fff;
}
#main2 form{
	display:grid;
}
.add-field{
	margin:10px;
	padding:10px;
}
.button-register button{
    margin-top:15px;
	    margin-left: 44%;
    padding: 10px 25px;
    border-radius: 7px;
    background-color: #227487;
    font-size: 19px;
    cursor: pointer;
}

.button-register button:hover{
	background-color: yellowgreen;
	color: red;
}
.button-register button a{
	text-decoration: none;
    color:#fff;
}

/* Thong ke */
.theoNgay{
	    float: right;
    margin-left: 300px;
    margin-top: -102px;
    margin-right: -200px;
}
.col-sm-3 button{
	    border-radius: 12px;
    padding: 18px;
    height: 51px;
    margin: 15px 0px;
    font-size: 16px;
}

